<%= render "shared/second-header" %>

<div class ='main'>
  <div class = 'second-design-top'>
    <%= image_tag "company_design_your_life.jpg", class: "design-your-life" %>
  </div>

  <div class = 'design-second'>

    <div class = 'story-left'>
      <div class = 'company-sub-title'>
       <div class = 'company-story-sub-title'>
          <p>STORY</p>
        </div>
      </div>
      <div class ='company-title'>
        <div class = 'company-story-title'>
         <p>DESIGN YOUR LIFE</p>
        </div>
      </div>
      <div class = 'company-text'>
        <div class = 'second-text'>
          <p>現在、SNSは生活の一部になり、情報過多な時代。</p>
          <p>だから、デザインを発信しても、注目されるのはほんの一部の人たち。</P>
          <p>もっと、注目されたい。</p>
          <p>もっと、世界を笑顔にしたい。</p>
          <p>そんな個人デザイナー様を応援するためのアプリです。</p>
        </div>
      </div>
    </div>

    <div class = 'story-right'>
      <%= image_tag "company_second.jpg", class: "second-image"%>
    </div>
  </div>

  <div class = 'design-third'>

    <div class = 'use-left'>
      <%= image_tag "company_third_1.png", class: "third-logo"%>
      <%= image_tag "company_third_2.png", class: "third-banner"%>
    </div>

    <div class = 'use-right'>
      <div class = 'company-sub-title'>
        <div class = 'use-sub-title'>
          <p>HOW TO USE</p>
        </div>
      </div>
      <div class = 'company-title'>
        <div class = use-title>
          <p>SPREAD YOUR DESIGNS</p>
        </div>
      </div>
      <div class = 'company-text'>
        <div class = 'use-text'>
          <p>投稿〜企業様とのやり取りについて</p>
          <p class = 'mat-15'>1.投稿サイズ</p>
          <p class = 'mal-15'>LOGO:~サイズ</p>
          <p class = 'mal-15'>BANNER:~サイズ</p>
          <p class = 'mal-15'>○随時、投稿サイズ増加予定です。</p>
          <p class = 'mat-15'>2.企業様とのやり取り</p>
          <p class = 'mal-15'>CHATにてやり取り可能です。</p>
          <p class = 'mal-15'>存分にアピールしてください！</p>
        </div>
      </div>
    </div>
  </div>

</div>