<%= render "shared/second-header" %>

<%# css...stylesheet/user/registration.css%>

<%= form_with model: @company, url: company_session_path, method: :post, class: 'registration-main', local: true do |f| %>
<div class = 'company-form-wrap'>
  <div class = 'company-form-left'>
    <div class = 'company-title'>
      <p>LOG IN</p>
    </div>
  </div>

  <div class = 'company-form-right'>
    <div class = 'form-text-wrap'>
      <label class = 'form-text'>Email</label>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC or Mobile" %>
    </div>

    <div class = 'company-form-text-wrap'>
      <label class = 'form-text'>Password</label>
      <%= f.password_field :password, class:"input-default", id:"password", placeholder:"Please include both letters and numbers" %>
    </div>

    <div class='register-btn'>
      <%= f.submit "Log in" ,class:"register-navy-btn" %>
    </div>
  </div>
</div>
<% end %>