<header class = 'second-top-page-header'>
  <div class = 'logo'>
    <%= link_to image_tag("company_design_logo.png", class:"company-logo"), "/" %>
  </div>
  <div class = 'link-area'>
    <ul class = 'nickname-link'>
      <% if company_signed_in? %>
        <li><%= link_to current_company.company_name, "#", class: "user-nickname" %></li>
      <% end %>
    </ul>
    <ul class = 'list-link'>
      <li><%= link_to 'CHAT', messages_path, class: "chat-list" %></li>
      <li><%= link_to 'SEARCH', "#", class: "search-list" %></li>
      <% if company_signed_in? %>
        <li><%= link_to 'SIGN OUT', destroy_company_session_path, method: :delete, class: "log-out" %></li>
      <% else %>
        <li><%= link_to 'LOG IN', new_company_session_path, class: "log-in" %></li>
        <li><%= link_to 'SIGN UP', new_company_registration_path, class: "sign-up" %></li>
      <% end %>
      <li><%= link_to 'Indiv.page', designs_path, class: "indiv-list"%></li>
    </ul>
  </div>
</header>