<%# userとしてlogin済の場合%>
<% if user_signed_in?%>
  <%= render "shared/second-header" %>
  <div class = 'cannot-company'>
    <p>You cannot sign up, because loged in as a user.</p>
    <p>Please sign out.</p>
  </div>

<% elsif %>

<%= render "shared/second-header" %>

<%# css...stylesheet/user/registration.css%>

<%= form_with model: @company, url: company_registration_path, method: :post, class: 'registration-main', local: true do |f| %>
<div class = 'company-form-wrap'>
  <div class = 'company-form-left'>
    <div class = 'company-title'>
      <p>SIGN UP</p>
    </div>
  </div>

  <div class = 'company-form-right'>

    <%= render 'shared/error_messages', model: f.object %>
    
    <div class = 'form-text-wrap'>
      <label class = 'form-text'>Company Name</label>
      <%= f.text_area :company_name, class:"company-input-default", id:"compnay-name", placeholder:"RiceIsDessert,Inc.", maxlength:"40" %>
    </div>

    <div class = 'form-text-wrap'>
      <label class = 'form-text'>House Number</label>
      <%= f.text_area :house_number, class:"company-input-default", id:"house-number", placeholder:"1-2-3,Ozeki" %>
    </div>

    <div class = 'form-text-wrap'>
      <label class = 'form-text'>Building Name</label>
      <%= f.text_area :building_name, class:"company-input-default", id:"building-name", placeholder:"Japan Building 1F" %>
    </div>

    <div class = 'form-text-wrap'>
      <label class = 'form-text'>Municipality</label>
      <%= f.text_area :municipality, class:"company-input-default", id:"municipality", placeholder:"Nishiura ku" %>
    </div>

    <div class = 'form-text-wrap'>
      <div class = 'form-text'>Prefecture</div>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"company-select-box", id:"item-prefecture"}) %>
    </div>

    <div class = 'form-text-wrap'>
      <label class = 'form-text'>Postal Code</label>
      <%= f.text_area :postal_code, class:"company-input-default", id:"postal-code", placeholder:"123-4567" %>
    </div>

    <div class = 'form-text-wrap'>
      <label class = 'form-text'>Phone Number</label>
      <%= f.text_area :phone_number, class:"company-input-default", id:"phone-number", placeholder:"1234567890" %>
    </div>

    <div class = 'form-text-wrap'>
      <label class = 'form-text'>Email</label>
      <%= f.email_field :email, class:"company-input-default", id:"email", placeholder:"PC or Mobile" %>
    </div>

    <div class = 'form-text-wrap'>
      <label class = 'form-text'>Password</label>
      <%= f.password_field :password, class:"company-input-default", id:"password", placeholder:"Please include both letters and numbers" %>
    </div>

    <div class = 'form-text-wrap'>
      <label class = 'form-text'>Password(2nd)</label>
      <%= f.password_field :password_confirmation, class:"company-input-default", id:"password-confirmation", placeholder:"Please confirm your password" %>
    </div>

    <div class='register-btn'>
      <%= f.submit "Submit" ,class:"register-navy-btn" %>
    </div>


  </div>
</div>
<% end %>

<% end %>